* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
ul {
    list-style-type: none;
    line-height: 1.5;
}
.main {
    max-width: 1340px;
    margin: auto;
}
.main-margin {
    padding: 0 32px;
    margin: 0;
    margin-bottom: 30px;
}
a:link {
    text-decoration: none;
}
a {
    color: black;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.logo-img {
    margin: 0;
}
.logo {
    height: 40px;
    margin-top: 30px;
}
.nav-link {
    padding: 0;
    margin: 0;
}
.accom-link a:hover, .act-link a:hover {
    color: #0065FC;
    border-top-color: #0065FC;
    border-top-style: solid ;
    border-top-width: 2px;
}
a:hover {
    color: #0065FC;
}
.menu {
    margin: 0;
    display: flex;
    line-height: 4;
    width: 250px;
}
.menu-item {
    width: 100%;
}
.menu-link {
	display: block;
    padding-top: 30px;
	text-align: center;
    border-top-color: #F2F2F2;
    border-top-style: solid ;
    border-top-width: 2px;
}
input[type=text] {
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}
sub {
    vertical-align: -5%;
}
.d-shadow {
    box-shadow: 1px 5px 8px #747474;
    cursor: pointer;
}
.hover-zoom:hover {
    transform: scale(1.01);
}
.location-pin-logo-div {
    height: 50px; 
    width: 50px;
    padding: 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px; border-bottom-left-radius: 15px;
    align-items: center;
}
.map-marker {
    font-size: 20px;
    margin: 10px;
}
.search p, div {
    margin: 5px 0;
}
.small-grey-text {
    color: #747474;
}
.search-input {
    align-items: center;
    margin-top: 10px;
}
.input {
    height: 50px;
    width: 235px;
    border: #F2F2F2;
    border-style: solid;
    border-width: 1px;
}
.search-button {
    font-family: 'Raleway', sans-serif;
    color: white;
    height: 50px;
    width: 94px;
    background-color: #0065FC;
    border-style: none;
    border-top-right-radius: 15px; border-bottom-right-radius: 15px;
    padding: 0 10px;
}
.i-icon {
    font-family: serif;
    font-weight: bolder;
    color: #0065FC;
    padding: 2px 8px;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 1px;
    border-radius: 50px;
    margin-right: 10px;
}
.filters {
    align-items: center;
    flex-wrap: wrap;
}
.span-parent {
    border: #F2F2F2;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
}
.filter-h, .span-parent {
    margin-right: 10px;
}
.filter-text {
    margin: 0 10px;
    font-weight: bold;
}
.filter-logo {
    margin-left: -2px;
    font-size: 20px;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 14px;
    height: 50px;
    width: 50px;
    border-radius: 56%;
    align-items: center;
}
.quantity-result{
    align-items: center;
}
.span-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section {
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.price-for-room {
    color: black;
    font-weight: bold;
}
.accommodation-title {
    padding: 0; margin: 0;
}
.accomodations-result-parent {
    flex-wrap: wrap;
}
.accomodation-at-that-location {
    padding: 40px;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 0;
}
.image-result {
    flex-wrap: wrap;
    margin: 0;
}
.result {
    width: 30%;
    height: 200px;
    border: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}
.thumbnail-accom-info {
    background-color: white;
    padding: 5px 10px;
    margin: 0;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
}
.thumbnail-accom-info p, h5 {
    margin-top: 5px;
}
.result-1 {
    background-image: url("/booki_resources/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-2 {
    background-image: url("/booki_resources/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-3 {
    background-image: url("/booki_resources/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-4 {
    background-image: url("/booki_resources/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-5 {
    background-image: url("/booki_resources/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-6 {
    background-image: url("/booki_resources/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.star-parent {
    display: flex;
}
.star {
    font-size: 9px;
}
#most-popular {
    flex-grow: 1;
}
.most-popular {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 0;
}
.most-popular-title {
    justify-content: space-between;
    align-items: center;
    margin: 0; padding: 0;
}
.most-pop-icon {
    padding: 0; margin: 0;
}
.most-pop-result {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 145px;
    border-radius: 20px;
    border: white;
    border-style: solid;
    border-width: 4px;
}
#most-pop-result-1 {
    background-image: url("/booki_resources/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#most-pop-result-2 {
    background-image: url("/booki_resources/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#most-pop-result-3 {
    background-image: url("/booki_resources/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.thumbnail-most-pop-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 60%;
    padding: 5px 10px;
    margin: 0;
    border-top-right-radius: 15px; border-bottom-right-radius: 15px;
}
.activities-at-that-location {
    flex-wrap: wrap;
    border-radius: 20px;
}
.activities-result {
    flex-wrap: wrap;
}
.act-result-rev, .act-result-sub {
    display: flex;
    flex-direction: column-reverse;
}
.act-result {
    width: 20%;
    border-radius: 20px;
    flex-grow: 1;
}
.act-divider {
    flex-wrap: wrap;
}
.act-result-sub {
    margin: 0;
    border-radius: 20px;
    flex-grow: 1;
}
.pomegues-fort, .long-park {
    height: 40%;
}
.long-park {
    height: 25%;
}
#accomodation-at-that-location {
    flex-grow: 1;
}
#activities-at-that-location {
    flex-grow: 1;
}
.act-info {
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
}
.old-port {
    height: 445px; 
    background-image: url("/booki_resources/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.pomegues-fort {
    background-image: url("/booki_resources/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frioul-island {
    background-image: url("/booki_resources/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cal-nat-park {
    background-image: url("/booki_resources/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.notre-d-d-la-ga {
    background-image: url("/booki_resources/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.long-park {
    background-image: url("/booki_resources/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-parent {
    flex-wrap: wrap;
    max-width: 1340px;
    padding: 30px 32px;
    margin: auto;
}
.each-footer {
    margin-right: auto;
}
footer {
    background-color: #F2F2F2;
}

/* RE-USE OPTION */

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.gap {
    gap: 20px;
}
.bold-text {
    font-size: 15px;
}
.meduim-text {
    font-size: 13px;
}
.small-text {
    font-size: 12px;
}
.symbol-blue {
    color: #0065FC;
}
.symbol-grey {
    color: #F2F2F2;
}

/* SCREEN SIZING */

@media (max-width: 992px) {
    .accomodation-at-that-location {
        padding: 0;
        background-color: white;
        order: 1;
    }
    .act-result {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .most-pop-result {
        height: 140px; 
    }
    .act-change-height-mob, .result {
        height: 180px; 
    }
}

/* MOBILE SCREEN SIZING */

@media (max-width: 768px) {

    /* DIV ORDER */

    .logo {
        margin: 0;
        padding: 0;
    }
    .main-margin {
        padding: 0;
    }
    .menu {
        width: 100%;
    }
    .top-nav {
        padding: 0;
        justify-content: center;
        margin-bottom: 30px;
    }
    .logo-img {
        margin: 15px 0;
        display: flex;
        justify-content: center;
    }
    .menu {
        line-height: 1.5;
    }
    .menu-link {
        border-top-style: none ;
        border-bottom-color: #F2F2F2;
        border-bottom-style: solid ;
        border-bottom-width: 2px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .accom-link a:hover, .act-link a:hover {
        border-top-style: none ;
        border-bottom-color: #0065FC;
        border-bottom-style: solid ;
        border-bottom-width: 2px;
    }
    .nav-link {
        margin: 0;
        width: 100%;
    }
    .result {
        width: 100%;
    }
    .nav, .accomodation-at-that-location, .activities-at-that-location {
        padding: 0 20px;
    }
    .most-popular {
        border-radius: 0;
        padding: 20px 20px;
    }
    .footer-parent {
        padding: 30px 20px;
        flex-direction: column;
    }
    .each-footer {
        margin-bottom: 25px;
    }
}